# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Build directories
dist/
build/

# Optional npm cache directory
.npm

# Environment variables
.env

# IDE and editor directories
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Optional REPL history
.node_repl_history

# yarn v1
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# yarn v2
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional coverage directory
coverage/

# Ignore npm package-lock
package-lock.json
